<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Martin Mwiti</title>
</head>
<body data-spy="scroll" data-bs-target=".site-navbar-target">

    <nav class="navbar navbar-expand-lg  navbar-dark bg-primary py-3 site-navbar-target fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Martin Mwiti</a>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-controls="#navmenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav nav ml-auto">
              <li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
              <li class="nav-item"><a href="#about-section" class=" nav-link"><span>About</span></a></li>
              <li class="nav-item"><a href="#resume-section" class=" nav-link"><span>Resume</span></a></li>
              <li class="nav-item"><a href="#services-section" class=" nav-link"><span>Services</span></a></li>
              <li class="nav-item"><a href="#skills-section" class=" nav-link"><span>Skills</span></a></li>
              <li class="nav-item"><a href="#projects-section" class=" nav-link"><span>Projects</span></a></li>
              <li class="nav-item"><a href="#blog-section" class=" nav-link"><span></span>Blog</a></li>
              <li class="nav-item"><a href="#contacts-section" class=" nav-link"><span></span>Contacts</a></li>
              <li class="nav-item"><a class=" nav-link disabled" href="#disabeld-section"><span>Disabled</span></a></li>
            </ul>
        </div>
      </div> 
    </nav>

    <!-- Home section -->
    <section class="bg-white p-5 p-lg-0 pt-lg-5 text-center text-sm-start" id="home-section">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-center">
          <div>
            <h6>Home section &#128075;</h6>
            <h3 class="lead">I am <span class="text-primary">Martin</span>, a tech enthusiast with a passion for embedded systems and software engineering.</h3>
          </div>
          <img class="img-fluid w-50 d-none d-sm-block" src="/static/images/martin.png" alt="Martin"/>

        </div>
      </div>
    </section>

    <!-- About section -->
    <section class="bg-white p-5 p-lg-0 pt-lg-5 text-center text-sm-start" id="about-section">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-center">
          <div>
            <h6>About Section &#128075;</h6>
            <h3 class="lead">I am <span class="text-primary">Martin</span>, a tech enthusiast with a passion for embedded systems and software engineering.</h3>
          </div>
          <img class="img-fluid w-50 d-none d-sm-block" src="/static/images/martin.png" alt="Martin"/>

        </div>
      </div>
    </section>

    <!-- Resume section-->
    <section class="bg-white p-5 p-lg-0 pt-lg-5 text-center text-sm-start" id="resume-section">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-center">
          <div>
            <h6>Resume section &#128075;</h6>
            <h3 class="lead">I am <span class="text-primary">Martin</span>, a tech enthusiast with a passion for embedded systems and software engineering.</h3>
          </div>
          <img class="img-fluid w-50 d-none d-sm-block" src="/static/images/martin.png" alt="Martin"/>

        </div>
      </div>
    </section>



    <!-- Footer -->
    <footer class="p-5 bg-primary text-white text-center position-relative">
      <div class="container">
        <p class="lead">Copyright &copy; 2024 Martin Mwiti</p>
        <a href="" class="position-absoulute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    
</body>
</html>